  <%= javascript_include_tag "keypress" %>

<div id="banner-container">
<div id="banner"><a href="http://github.com/danielheath/furious-earth">Fork me on GitHub</a></div></div>

<div class="rightbar" >

<p>Player 1 starts with the yellow ship (the flash) and uses wasd to steer and q to fire</p>
<p>Player 2 starts with the blue ship (blue bertha) and uses up, down, left, right to steer and . to fire</p>
<p>The yellow ship is faster and has a better gun, but the blue ship deals significantly more damage in the event of a crash</p>
</div>
</p>
</div>
