<!DOCTYPE html>
<html>
<head>
  <title>Ships</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div id="banner-container">
    <div id="banner"><a href="http://github.com/danielheath/furious-earth">Fork me on GitHub</a></div></div>

<%= yield %>

</body>
</html>
